{{extend 'layout.html'}}

<h2>{{=T('Dashboard')}}</h2>

{{if auth.is_logged_in():}}
<div class="row" id="private">
  <div class="col-md-2">
    <h3>{{=T('Wallets')}}</h3>
    <button class="btn btn-primary" id="reload_wallets" style="float:right"><span class="glyphicon glyphicon-refresh"></span></button>
    <div id="wallets_container">
      {{=LOAD('default', 'wallets.load', ajax=True, user_signature=True, target='wallets_container')}}
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{=T('Lends')}}</h3>
    <button class="btn btn-primary" id="reload_offers" style="float:right"><span class="glyphicon glyphicon-refresh"></span></button>
    <div id="offers_container">
      {{=LOAD('default', 'offers.load', ajax=True, user_signature=True, target="offers_container")}}
    </div>
  </div>
</div>
{{pass}}


<h3>{{=T('Lends')}}</h3>

<div class ="row" id="lends">
  <div class="col-md-6">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#usd" aria-controls="usd" role="tab" data-toggle="tab">{{=T('USD')}}</a></li>
      <li role="presentation"><a href="#btc" aria-controls="btc" role="tab" data-toggle="tab">{{=T('BTC')}}</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="usd">
	{{=LOAD('default', 'lends.load', vars=dict(currency='USD'), ajax=True, timeout=5000, times="infinity")}}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="btc">
	{{=LOAD('default', 'lends.load', vars=dict(currency='BTC'), ajax=True, timeout=5000, times="infinity")}}
      </div>
    </div>
  </div>
</div>

{{block page_js}}
<script type="text/javascript">
 $(document).ready(function() {
   $('#reload_wallets').click(function() {
     web2py_component("{{=URL('default', 'wallets.load', user_signature=True)}}", target='wallets_container');
     return false;
   });
   $('#reload_offers').click(function() {
     web2py_component("{{=URL('default', 'offers.load', user_signature=True)}}", target='offers_container');
     return false;
   });
 });
</script>
{{end}}
