{{extend 'layout.html'}}

<h1>{{=T('Providers')}}</h1>

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#form">{{=T('New')}}</button>
<div id="form" class="collapse {{if request.args or form.errors:}}in{{pass}}">
  {{=form}}
</div>

<table class="table">
  <thead>
    <tr>
      <th>{{=T('Name')}}</th>
      <th>{{=T('Service')}}</th>
      <th>{{=T('ApiKey')}}</th>
      <th>{{=T('Secret')}}</th>
      <th>{{=T('Strategy')}}</th>
      <th>{{=T('Status')}}</th>
      <th>{{=T('Actions')}}</th>
    </tr>
  </thead>
  <tbody>
    {{for provider in providers:}}
    <tr>
      <td>{{=provider.name}}</td>
      <td>{{=provider.service}}</td>
      <td>{{=provider.api_key}}</td>
      <td>{{=provider.secret}}</td>
      <td>{{=provider.strategy}}</td>
      <td><span class="label label-{{='success' if provider.status =='enabled' else 'danger'}}">{{=provider.status}}</span></td>
      <td>
        <div class="btn-group"  role="group" aria-label="actions">
          {{=A(T('edit'), _href=URL('default', 'providers', args=provider.id), _class="btn btn-link")}}
          {{=A(T('delete'), _href=URL('default', 'delete_provider', args=provider.id, user_signature=True), _class="btn btn-danger")}}
        </div>
      </td>
    </tr>
    {{pass}}
  </tbody>
</table>
