{{extend 'layout.html'}}

<h1>{{=T('Current Loan Market')}}</h1>

<div class="row">
  <h3>Bitfinex</h3>
  <div class="col-md-6">
    <table id="bitfinex-loan-bids" class="table table-bordered table-striped compact text-right" width="100%" data-order='[[3, "desc"]]'>
      <thead>
        <tr>
          <th>{{=T('Period')}}</th>
          <th>{{=T('Amount')}}</th>
          <th>{{=T('APR')}}</th>
          <th>{{=T('Return')}}</th>
        </tr>
      </thead>
    </table>
  </div>  
</div>

{{block page_js}}
<script type="text/javascript">
 $(document).ready(function() {
    var bfloanbids = $('#bitfinex-loan-bids').DataTable({
      ajax: {
        url: '{{=URL('market', 'lend_bids.json')}}',
        dataSrc: ''
      },
      columns: [
        { data: 'period' },
        { data: 'amount', 'render': $.fn.dataTable.render.number( ',', '.', 0) },
        { data: 'apr', 'render': $.fn.dataTable.render.number( ',', '.', 3, '', '%' ) },
        { data: 'rate_of_return', 'render': $.fn.dataTable.render.number( ',', '.', 3, '', '%' ) }
      ]
    });
    setInterval( function () {
      bfloanbids.ajax.reload( null, false );
    }, 5000);
 });
</script>
{{end}}






